{% extends "layout.html" %}

{% block content %}

    <div class="height-adjustment"></div>
    <div class="row center">
        <img class="img-margin-adjustment" style="margin:45px 0;" height="125" src="../static/img/face.png">    
    </div>

    <div class="row">

        <div class="row center">
            <h4>Sorry, no data found for aspect</h4>
        </div>
        <div class="row center">
            <a class="btn waves-effect waves-light" href="/">Return Back</a>
        </div>


    </div>   


{% endblock %}