{% extends "layout.html" %}

{% block content %}

    <div class="row">
        <div class="height-adjustment"></div>
        <div class="row">
            
                <!-- Front page logo (animation) -->

                <div class="logo-slides logo-centering hotel"></div>
                <div class="logo-slides logo-centering food"></div>
                <div class="logo-slides logo-centering doorman"></div>
                <div class="logo-slides logo-centering foodtable"></div> 
                <div class="logo-slides logo-centering doorkey"></div>
                <div class="logo-slides logo-centering hotelsign"></div>
                <div class="logo-slides logo-centering maid"></div>
                <div class="logo-slides logo-centering signing"></div> 
                <div class="logo-slides logo-centering door"></div>
                <div class="logo-slides logo-centering doorbell"></div>
                <div class="logo-slides logo-centering waiter"></div>
                <div class="logo-slides logo-centering bed"></div> 
                <div class="logo-slides logo-centering donotdisturb"></div>
                <div class="logo-slides logo-centering briefcase"></div>
                <div class="logo-slides logo-centering reception"></div>
                <div class="logo-slides logo-centering television"></div> 
                
        </div>

        <form class="col s8 offset-s2" action="/homepage" method="POST">            
            <div class="row">
                <div class="input-field col s6">

                    <!-- A dropdown menu for the list of cities --> 

                    <select name="input-location" class = "browser-default">
                            <option value = "" disabled selected>Select Location</option>
                            {% for key in cities.items() %}
                            <option value = "{{ key[0] }}">{{ key[0] }}</option>
                            {% endfor %}
                    </select>           
                </div>
                <div class="input-field col s6">

                    <!-- Search bar with autocomplete feature -->

                    <input id="input-search-term-area" name="input-search-term" type="text" class="validate autocomplete">                    
                    <label for="input-search-term-area">Search Term</label>
                </div>
            </div>
            <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit">Recommend
                        <i class="material-icons right">search</i>
                    </button>
            </div>
        </form>

    </div>   

    <script>
    
        $(document).ready(function(){
            $('input.autocomplete').autocomplete({
            data: {
                {% for key in aspects.items() %}
                    "{{ key[0].lower() }}" : null,
                {% endfor %}
            },
            });
        });
           
    </script>

{% endblock %}