{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="height-adjustment"></div>
        <div class="row">
            
                <div class="logo-slides logo-centering hotel"></div>
                <div class="logo-slides logo-centering food"></div>
                <div class="logo-slides logo-centering doorman"></div>
                <div class="logo-slides logo-centering foodtable"></div> 
                <div class="logo-slides logo-centering doorkey"></div>
                <div class="logo-slides logo-centering hotelsign"></div>
                <div class="logo-slides logo-centering maid"></div>
                <div class="logo-slides logo-centering signing"></div> 
                <div class="logo-slides logo-centering door"></div>
                <div class="logo-slides logo-centering doorbell"></div>
                <div class="logo-slides logo-centering waiter"></div>
                <div class="logo-slides logo-centering bed"></div> 
                <div class="logo-slides logo-centering donotdisturb"></div>
                <div class="logo-slides logo-centering briefcase"></div>
                <div class="logo-slides logo-centering reception"></div>
                <div class="logo-slides logo-centering television"></div> 
                
        </div>

        <form class="col s8 offset-s2" action="/homepage" method="POST">            
            <div class="row">
                <div class="input-field col s6">                        
                    <select class = "browser-default">
                                <option value = "" disabled selected>Select Location</option>
                                <option value = "1">Mango</option>
                                <option value = "2">Orange</option>
                                <option value = "3">Apple</option>
                        </select>           
                </div>
                <div class="input-field col s6">
                    <input id="input-search-term-area" name="input-search-term" type="text" class="validate">                    
                    <label for="input-search-term-area">Search Term</label>
                </div>
            </div>
            <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit">Recommend
                        <i class="material-icons right">search</i>
                    </button>
            </div>
        </form>

    </div>

{% endblock %}