{% extends "layout-search.html" %}

{% block content %}
    
   
    <div class="row" style="margin-bottom:0px;">
        <div id="map" class="col s6" style="height:100vh; background-color: chocolate;">
        </div>
        <div class="col s6" style="height:100vh;overflow-y: scroll;overflow-x: hidden;">
            <div class="row card-panel teal lighten-2" style="margin-top:0px;border-radius:0px;box-shadow: none;">
                    
                    <!-- Top menu bar displaying user input search aspect and location -->

                    <div class="col s8 white-text">Search Term: {{ search_term }}</div>
                    <div class="col s4 white-text">Location: {{ location_area }}</div>
            </div>

        <!-- Displays hotel name, hotel address, rank and normalized sentiment score -->

        {% for hotel in timeline %}
            <div class="col s12">
                <div class="card-panel grey lighten-5 z-depth-1" style="box-shadow:0 3px 5px #dadada; padding-bottom:15px;">
                    <div class="row valign-wrapper">
                        <div class="col s9">
                            <h6 class="black-text">
                                {{ hotel[1].split("_")[0] }}
                            </h6>
                            <span class="grey-text darken-4">
                                <span style="font-weight: bold">Address</span><br/>
                                {{ hotels[hotel[1]][0] }}
                            </span>
                            <br/>
                            <br/>

                            <a class="waves-effect waves-light btn modal-trigger" href="#{{hotel[1].split("_")[0]}}">Reviews</a>

                            <!-- Displays top 3 reviews of each hotel -->

                            <div id="{{hotel[1].split("_")[0]}}" class="modal">
                                <div class="modal-content">
                                <h4>Top Reviews</h4>
                                    {% set top = best_reviews["{}_{}".format(hotel[1].split("_")[0],search_term)] %}
                                    <p>1) {{top[0][0]}}</p>
                                    <p>2) {{top[1][0]}}</p>
                                    <p>3) {{top[2][0]}}</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="responsive-img" style="border:2px solid #c5c5c5;height: 60px; width: 80px;text-align: center;margin-bottom:5px; margin-top:15px;">
                                <h5> {{ loop.index }} </h5>
                            </div>
                            <div class="responsive-img" style="border:2px solid #c5c5c5;height: 60px; width: 80px;text-align: center;">
                                <span>Score</span>
                                <h5 style="line-height:0px;">{{ "{:.1f}".format(hotel[0]) }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        </div>
    </div>

    <script>
            $(document).ready(function(){
                $('.modal').modal();
            });
    </script>
    
    <script>
            // Creating map options
            var mapOptions = {
               center: [{{ hotel_locations[0][2] }}, {{ hotel_locations[0][3] }}],
               zoom: 12
            }
            
            // Creating a map object
            var map = new L.map('map', mapOptions);
            
            // Creating a Layer object
            var layer = new L.TileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png');
            
            // 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
            // 'https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png'

            // Adding layer to the map
            map.addLayer(layer);

            var locations = {{ hotel_locations | tojson }};
            
            for (var i = 0; i < locations.length; i++) {
                marker = new L.marker([locations[i][2],locations[i][3]])
                    .bindPopup(locations[i][0])
                    .addTo(map);
            }
    </script>

{% endblock %}